

.Task{
    background-color: #262626;
    padding: 1.5rem 1.2rem;
    display: flex;
    width: 46rem;
    text-align: left;
    border-radius: 8px;
    border: solid 1px #333333;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.DoneButton{
    color: #F2F2F2;
    background-color: #5E60CE;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 3px;
    padding: .1rem;
}

.DeleteTaskButton{
    background-color: transparent;
    border: 0;
    color: #808080;
    cursor: pointer;
    margin-bottom: 5px;
    transition: .2s;
}

.DeleteTaskButton:hover{
    color: #E25858;
}

.ContentCompleted{
    font-size: 0.875rem;
    color: #808080;
    text-decoration: line-through;
}

.ButtonContent{
    word-break: break-all;
}

.DivButtonContent{
    display: flex;
}