
.main{
    margin-top: calc(0px - 1.5rem - 6px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

form input{
    background-color: #262626;
    outline: none;
    border: solid 1px #0D0D0D;
    border-radius: 8px;
    padding: 1rem;
    width: 39.875rem;
    color: #F2F2F2;
    margin-right: .5rem ;
}

form button{
    background-color: #1E6F9F;
    color: #F2F2F2;
    padding: 1rem;
    width: 5.625rem;
    height: 3.25rem;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}

.PlusIcon{
    margin-left: .2rem;
    margin-bottom: -3px;
}

.TaskInfos{
    display: flex;
    align-items: center;
    gap: 28rem;
    margin-bottom: 4rem;
}

.TaskToDo:first-child{
    color: #4EA8DE;
    font-weight: 600;
}

.NumberCreatesTasks, .NumberCompletedTasks{
    color: #D9D9D9;
    background-color: #333333;
    padding: 2px 10px;
    border-radius: 1rem;
    margin-left: .5rem;
    font-weight: 600;
}

.CompletedTasks{
    color: #8284FA;
    font-weight: 600;
}

.Tasks{
    margin-top: 1.5rem;
    width: 46rem;
    border-top: solid 1px rgb(128, 128, 128, 50%);
    border-radius: 8px;
}

.Tasks img{
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.Tasks p{
    color: #808080;
}
